/* Default background */
.bg-gradient-to-b {
  /* background: linear-gradient(to bottom, #edf2f7, #a0aec0, #718096, #4a5568, #2d3748); */
  background: url("../day-overcast-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

/* Daytime backgrounds */
.bg-day-clear {
  background: url("../day-clear.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-few-clouds {
  background: url("../day-few-clouds.png") no-repeat center center fixed;
  background-size: cover;
  /* animation: moveClouds 60s linear infinite; */
}

.bg-day-scattered-clouds {
  background: url("../day-scattered-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-broken-clouds {
  background: url("../day-broken-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-overcast-clouds {
  background: url("../day-overcast-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-shower-rain {
  background: url("../day-shower-rain.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-rain {
  background: url("../day-rain.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-storm {
  background: url("../day-storm.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-mist {
  background: url("../day-mist.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-snow {
  background: url("../day-snow.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-day-default {
  background: url("../day-overcast-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

/* Nighttime backgrounds */
.bg-night-clear {
  background: url("../night-clear.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-few-clouds {
  background: url("../night-few-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-scattered-clouds {
  background: url("../night-scattered-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-broken-clouds {
  background: url("../night-broken-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-overcast-clouds {
  background: url("../night-overcast-clouds.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-shower-rain {
  background: url("../night-shower-rain.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-rain {
  background: url("../night-rain.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-storm {
  background: url("../night-storm.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-mist {
  background: url("../night-mist.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-snow {
  background: url("../night-snow.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-night-default {
  background: url("../night-clear.png") no-repeat center center fixed;
  background-size: cover;
}
